<div class="card">
    <div class="card-header">
      Info
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
          <footer class="blockquote-footer">Test server v 0.1</footer>
      </blockquote>
    </div>
  </div>