<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head')%>
</head>
<body>
    <nav class="nav">
        <a class="nav-link active" aria-current="page" href="/">Information</a>
        <a class="nav-link" href="/upload">Upload</a>
        <a class="nav-link" href="#">Status</a>
    </nav>
    <div class="card">
        <div class="card-body">
            Server started on port <%= servport %>
        </div>
      </div>
    <%- include('./partials/bottom')%>
</body>
</html>