<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head')%>
</head>
<body>
    <div class="card">
        <div class="card-header">
            <form name="uploader" enctype="multipart/form-data" action="/api/upload" method="POST">
                Отправить этот файл: <input name="userfile" type="file" />
                <button type="submit" name="submit">Загрузить</button>
            </form>
        </div>
        <div class="card-body">
          <blockquote class="blockquote mb-0">
              <footer class="blockquote-footer">Test server v 0.1</footer>
          </blockquote>
        </div>
    </div>
</body>
</html>